# Prueba de Ramp-up

Antes de comenzar, cambia el nombre del archivo notebook poniéndole delante tu nombre y primer apellido:

* ``<nombre_apellido>_examen_online.ipynb``

In [1]:
# Escribe tu nombre en la variable:
nombre_y_apellidos = "Johann Strauss"

In [2]:
"""
Criterios de corrección:

ejecución (ausencia de errores y obtención de resultados)
estructura del código
uso correcto de variables
manejo de tipo de variables
asignaciones
operaciones booleanas
manejo lógico de flujos de control y bucles
uso de colecciones
uso de funciones
""";

# Ejemplo de como queremos ver el código para más de un intento:

# intento 1
#your code

# intento 2
#your code

In [3]:
# crea todas las celdas que necesites

#### Notas y pruebas de apoyo para contestar las preguntas


Cualquier código aunque no esté correcto nos dirá más de ti que no escribir nada.

__Debes subir este notebook a tu REPO PERSONAL__

__Hora: hasta las 13:30 del 06/11/2024__

#### Ejercicio 1

Disponemos de una lista con información sobre varios empleados:

    empleados = 
    [[12345, "Juan Rodríguez", 53, ["Director financiero"], 2],[56789, "Laura Pérez", 41, ["CEO", "Director", "Gerente"], 2],[88354, "Pedro Álvarez", 26, ["Asistente","Gestor comercial"], 3]]

Respecto de cada empleado, la lista contiene cinco elementos: en el primero almacenamos su tfno, en el segundo su nombre, en el tercero su edad, en el cuarto los puestos que ha desempeñado en la empresa (en forma de lista) y en el quinto su código postal.

1. Siguiendo la misma estructura, incluye un nuevo empleado en la última posición de la lista empleados.

2. Mostrar por pantalla, sin uso de funciones (salvo print) ni bucles: 

    - El nombre y la edad del tercer empleado de la lista empleados.
    - Los puestos desempeñados por Pedro Álvarez, ordenados de atras a adelante (es decir, de Gestor comercial a Asistente)
    - Si el nuevo empleado que has añadido tiene más o igual a 60 años, muestra por pantalla los puestos que el nuevo empleado haya desempeñado en la empresa. En caso contrario, muestra los puestos desempeñados por Laura Pérez y Juan Rodriguez.

In [5]:
#lista de empleados
empleados = [
    [12345 "juan rodriguez", 53, ["director financiero"], 2]
    [556789 "laura Perez", 41, ["ceo", "director", "gerente"], 2]
    [888354 "pedro alvarez", 26, ["asistente", "gestor comercial"], 3]
]
#añadimos un nuevo empleado siguiendo la misma estructura
nuevo_empleado = [987654, "heymar moya" 65, ["analista", "jefe de trabajo"], 4]
empleados.append(nuevo_empleado)

#mostrar nombre y edad del tercer empleado 
print("nombre del tercer empleado:", empleados [2][1])
print("edad del tercer empleado:", empleados[2][2])

#mostrar los puestos de trabajo de pedro alvares
print("puesto de pedro alvarez(en orden inverso):", empleados [2][3][::-1])

#condicional para mostrar los pouestos de trabajo del nuevo empleado
print("puestos desempeñados por el nuevo empleado:" if empleados [-1][2] >= 60 else "puesto desempeñados por laura y juan rodriguez:",
      empleados[-1][3] if empleados[-1][2] >= 60 else empleados[0][3] + empleados[1][3])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4057554168.py, line 3)

perdona, al usar dos teclados precione sin querer y borre los otros ejercicios, no supe corregir mi error